@model List<Doctor>

<h2>Ärzte</h2>

<div class="container">
    <div class="table">
        <div class="row">
            <div class="col-2">Id</div>
            <div class="col-2">Name</div>
            <div class="col-2">LANR</div>
            <div class="col-4">Adresse</div>
        </div>
        <hr/>
        @foreach (Doctor doctor in Model)
        {
            <div class="row">
                <div class="col-2">@doctor.Id</div>
                <div class="col-2">@doctor.Name</div>
                <div class="col-2">@doctor.LANR</div>
                <div class="col-4">@doctor.CurrentAddress.ToString()</div>
                <div class="col-2">
                    <a asp-action="Details" asp-route-id="@doctor.Id">#
                        <i class="fa-solid fa-info"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>